*{
  margin: 0;
  padding: 0;
}
img{
  height:70%;
  width: 60%;
  padding: 5%; 
}
.App{
  padding:5%;
  height: 100vh;
  background: black;
}
.content{
  flex-wrap: wrap;
  justify-content: center;
}
h1{
  font-size:xx-large;
  font-weight:bolder;
  color: white;
}
button{
  color: rgb(0, 0, 0);
  border-style: none;
  border-radius: 15px;
  background: rgb(58, 248, 58);
  padding:12px 48px;
  margin:15px ;
  cursor: pointer;
}
